
		body
		{
			width: 100%;
			background-image: url(https://cdn.britannica.com/63/194763-050-891EAC31/Dmitri-Mendeleev-oil-canvas-Ivan-Kramskoi-1878.jpg);
			background-size: 150%;
		}

		p {
			font-size: 10px;
			margin: 0;
		}

		h1
		{
			text-align: center;
		}	
		#periodic_table
		{
			width: 100%;
			min-width: 600px;
		}

		#periodic_table >div
		{
			margin-bottom: 2.5%;
		}

		#periodic_table > div > div
		{
			width: 5.5%;
			display: inline-block;
			margin-right: -7px;
		}

		#periodic_table >div > div > div 
		{
			border: 3px solid black;
			border-collapse: collapse;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing:border-box;
			box-sizing: border-box;
			text-align: center;
			background: red;
			margin-top: -3px;
			padding: 20% 0;
		}

		h1
		{
			font-size: 2vw;
			color: #000000;
			text-align: center;
			margin: 0;
		}
		