<section class="contact-area" id="contact">
               <div class="conatiner">
                   <div class="row">
                       <div class="col-sm-12 text-center">
                            <h2>CONTACT US</h2>
                             <div class="sub-heading">
                                 <p>
                                    Contact us for a consult or to learn more about our services.
                                 </p>
                             </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-3 divider">
                           <h3>contact</h3>
                           <div class="contact-address">
                               <ul>
                                   <li>
                                       <i class="fa fa-map-marker"></i>
                                       <div class="address-phone">
                                           <h4>address</h4>
                                           <span>383 WoodPecker street</span>
                                           <span>WaterFall Midrand</span>
                                       </div>
                                   </li>
                                      <li>
                                       <i class="fa fa-paper-plane"></i>
                                       <div class="address-phone">
                                           <h4>email</h4>
                                           <span>kudzie.gom@gmail.com</span>
                                       </div>
                                   </li>
                                      <li>
                                       <i class="fa fa-phone"></i>
                                       <div class="address-phone">
                                           <h4>Phone</h4>
                                           <span>+27847371056</span>
                                       </div>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-sm-9">
                           <div class="contact-block">
                               <h3>Drop a message</h3>
                               <form class="contact-form">
                                   <div class="row">
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <input type="text" class="form-control" placeholder="Your first name" required="required">
                                           </div>
                                              <div class="form-group">
                                               <input type="email" class="form-control" placeholder="contact@email.com" required="required">
                                           </div>
                                              <div class="form-group">
                                               <input type="text" class="form-control" placeholder="Your Phone number" required="required">
                                           </div>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="form-group">
                                               <textarea class="form-control" required="required"></textarea>
                                           </div>
                                              <div class="form-group">
                                              <input type="submit" class="btn default-btn btn-block" value="submit queries">
                                           </div>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
               </section>
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=wethinkcode&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>