<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
    <title>Wild & Free Clothing</title>
</head>
<body>
<div class="products">
    
    <div class="card">
         <!--img src="../image/airforce.jpeg" alt="Nike" style="width:100%"-->
            <h1>Nike Shoes</h1>
                <p class="price">R1200</p>
                <p>Product of Nike</p>
                <h4 style="text-align:center"><a class="btn" href="items.php?name=disk_3&amp;site=1"> <i class="icon-zoom-in"></i></a> <a class="btn" href="php/add_to_cart.php?name=disk_3&amp;site=1">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">R1200</a></h4>
    </div>

    <div class="card">
         <!--img src="../image/airforce.jpeg" alt="Nike" style="width:100%"-->
            <h1>Nike Shoes</h1>
                <p class="price">R1200</p>
                <p>Product of Nike</p>
                <h4 style="text-align:center"><a class="btn" href="items.php?name=disk_3&amp;site=1"> <i class="icon-zoom-in"></i></a> <a class="btn" href="php/add_to_cart.php?name=disk_3&amp;site=1">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">R1200</a></h4>
    </div>

    <div class="card">
        <!--img src="../image/airforce.jpeg" alt="Nike" style="width:100%"-->
            <h1>Nike Shoes</h1>
                <p class="price">R1200</p>
                <p>Product of Nike</p>
                <h4 style="text-align:center"><a class="btn" href="items.php?name=disk_3&amp;site=1"> <i class="icon-zoom-in"></i></a> <a class="btn" href="php/add_to_cart.php?name=disk_3&amp;site=1">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">R1200</a></h4>
    </div>
</div>
</body>
</html>

