img
{
  max-width: 60px;
   max-height: 60px;
}
#images
{
   padding:10px;
  
}

#block
{
   display: inline-block;
   
   width: 33,33%;
   float: left;
   padding-left: -2px;
   padding: 5px;
   margin-left: -2px;
}